@import '../constants';

.agency {
  margin-top: 50px;

  span {
    display: block;
    text-align: center;
  }
}

.agency__callout {
  font-size: 32.0px;
}

.agency__subline {
  font-size: 15px;
  padding-top: 25px;
}

.agency__button {
  display: block;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 25px;
  text-decoration: none;
  height: 35px;
  border: 1px solid $monthly-color;
  background: $monthly-bg-color;
  color: $monthly-color;
  font-size: 15.0px;
  text-align: center;
  border-radius: 3px;
  padding-top: 20px;

  span {
    display: inline-block;
  }
}

.agency__arrow_blue {
  display: inline-block;
  margin-left: 3px;
}

.agency__arrow_purple {
  display: none;
}

.finalGravity {
  .agency__button {
    border: 1px solid $yearly-color;
    background: $yearly-bg-color;
    color: $yearly-color;
  }

  .agency__arrow_blue {
    display: none;
  }

  .agency__arrow_purple {
    display: inline-block;
    margin-left: 3px;
  }
}
