.agency {
  margin-top: 50px;

  span {
    display: block;
    text-align: center;
  }
}

.agency__callout {
  font-size: 32.0px;
}

.agency__subline {
  font-size: 15px;
  padding-top: 25px;
}

.agency__button {
  display: block;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 25px;
  text-decoration: none;
  height: 35px;
  border: 1px solid #81d3e7;
  background: #f1fcff;
  color: #53c1db;
  font-size: 15.0px;
  text-align: center;
  border-radius: 3px;
  padding-top: 20px;

  span {
    display: inline-block;
  }
}

.agency__arrow_blue {
  display: inline-block;
  margin-left: 3px;
}

.agency__arrow_purple {
  display: none;
}

.yearly {
  .agency__button {
    border: 1px solid #9498d3;
    background: #f0f0fa;
    color: #666dbc;
  }

  .agency__arrow_blue {
    display: none;
  }

  .agency__arrow_purple {
    display: inline-block;
    margin-left: 3px;
  }
}
